@charset "utf-8";
/**layer组件样式**/
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td,form {
	padding: 0;
	margin: 0;
}

* html {
	background-image: url(about:blank);
	background-attachment: fixed
}

.xubox_shade,.xubox_layer {
	position: fixed;
	_position: absolute;
	font-size:14px;
}

.xubox_shade {
	top: -500px;
	left: 0;
	width: 100%;
	height: 2000px;
	_height: expression(document.body.offsetHeight + "px")
}

.xubox_layer {
	background-color: black;
	color: black;
	top: 150px;
	left: 50%;
	height: auto;
	width: 310px;
	margin-left: -155px
}

.xubox_border,.xubox_title,.xubox_title i,.xubox_page,.xubox_iframe,.xubox_title em,.xubox_close,.xubox_msgico,.xubox_moves {
	position: absolute
}

.xubox_border {
	border-radius: 5px
}

.xubox_title {
	left: 0;
	top: 0
}

.xubox_main {
	position: relative;
	height: 100%;
	_float: left
}

.xubox_page {
	top: 0;
	left: 0;
	width: 100%;
}

.xubox_load {
	background: url(../img/xubox_loading0.gif) #fff center center no-repeat
}

.xubox_loading {
	display: block;
	float: left;
	text-decoration: none;
	color: #FFF;
	_float: none
}

.xulayer_png32 {
	background: url(../img/xubox_ico0.png) no-repeat
}

.xubox_moves {
	border: 3px solid #333;
	cursor: move;
	opacity: .7;
	filter: alpha(opacity = 70)
}

.xubox_msgico {
	width: 32px;
	height: 32px;
	top: 52px;
	left: 15px;
	background: url(../img/xubox_ico0.png) no-repeat
}

.xubox_text {
	padding-left: 55px;
	float: left;
	line-height: 25px;
	word-break: break-all;
	padding-right: 20px;
	overflow: hidden;
	font-size: 14px
}

.xubox_msgtype0 {
	background-position: -91px -38px
}

.xubox_msgtype1 {
	background-position: -128px -38px
}

.xubox_msgtype2 {
	background-position: -163px -38px
}

.xubox_msgtype3 {
	background-position: -91px -75px
}

.xubox_msgtype4 {
	background-position: -163px -75px
}

.xubox_msgtype5 {
	background-position: -163px -112px
}

.xubox_msgtype6 {
	background-position: -163px -148px
}

.xubox_msgtype7 {
	background-position: -128px -75px
}

.xubox_msgtype8 {
	background-position: -91px -6px
}

.xubox_msgtype9 {
	background-position: -129px -6px
}

.xubox_msgtype10 {
	background-position: -163px -6px
}

.xubox_msgtype11 {
	background-position: -206px -6px
}

.xubox_msgtype12 {
	background-position: -206px -44px
}

.xubox_msgtype13 {
	background-position: -206px -81px
}

.xubox_msgtype14 {
	background-position: -206px -122px
}

.xubox_msgtype15 {
	background-position: -206px -157px
}

.xubox_loading_0 {
	width: 37px;
	height: 37px;
	background: url(../images/xubox_loading0.gif) no-repeat
}

.xubox_loading_1 {
	width: 48px;
	height: 48px;
	background: url(../images/xubox_loading1.gif) no-repeat
}

.xubox_loading_2 {
	width: 32px;
	height: 32px;
	background: url(../images/xubox_loading2.gif) no-repeat
}

.xubox_loading_3 {
	width: 126px;
	height: 22px;
	background: url(../images/xubox_loading3.gif) no-repeat
}

.xubox_title {
	width: 100%;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #d5d5d5;
	background: url(../img/xubox_title0.png) #ebebeb repeat-x;
	cursor: move;
	font-size: 14px;
	color: #333
}

.xubox_title em {
	display: block;
	height: 20px;
	line-height: 20px;
	width: 80%;
	top: 9px;
	left: 10px;
	font-style: normal;
	overflow: hidden
}

.xubox_close0 {
	right: 10px;
	top: 10px;
	width: 14px;
	height: 14px;
	background-position: -31px -7px;
	cursor: pointer;
	overflow: hidden
}

.xubox_close0:hover {
	background-position: -51px -7px
}

.xubox_close1 {
	right: -20px;
	top: -21px;
	width: 34px;
	height: 30px;
	background-position: -5px -252px;
	cursor: pointer;
	overflow: hidden;
	_right: 3px;
	_top: 3px;
	_width: 14px;
	_height: 14px;
	_background-position: -31px -7px
}

.xubox_close1:hover {
	background-position: -44px -252px;
	_background-position: -51px -7px
}

.xubox_botton a {
	position: absolute;
	bottom: 10px;
	left: 50%;
	background: url(../img/xubox_ico0.png) repeat;
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	overflow: hidden
}

.xubox_botton a:hover {
	text-decoration: none;
	color: #FFF
}

.xubox_botton .xubox_botton1 {
	width: 79px;
	height: 32px;
	line-height: 32px;
	margin-left: -39px;
	background-position: -6px -34px
}

.xubox_botton1:hover {
	background-position: -6px -72px
}

.xubox_botton .xubox_botton2 {
	margin-left: -76px;
	width: 71px;
	height: 29px;
	line-height: 29px;
	background-position: -5px -114px
}

.xubox_botton2:hover {
	background-position: -5px -146px
}

.xubox_botton .xubox_botton3 {
	width: 71px;
	height: 29px;
	line-height: 29px;
	margin-left: 10px;
	background-position: -81px -114px
}

.xubox_botton3:hover {
	background-position: -81px -146px
}

.xubox_tips {
	position: relative;
	padding: 2px 30px 2px 10px;
	line-height: 20px;
	font-size: 12px;
	_float: left
}

.xubox_tips i.layerTipsG {
	position: absolute;
	width: 0;
	height: 0;
	border-width: 6px;
	border-color: transparent;
	border-style: dashed;
	*overflow: hidden
}

.xubox_tips i.layerTipsT {
	left: 12px;
	bottom: -12px;
	border-top-style: solid
}

.xubox_tips i.layerTipsR {
	left: -12px;
	top: 6px;
	border-right-style: solid
}

.xubox_tips i.layerTipsB {
	left: 12px;
	top: -12px;
	border-bottom-style: solid
}

.xubox_tips i.layerTipsL {
	right: -12px;
	top: 6px;
	border-left-style: solid
}

/**自定义等待层loading样式，非layer部分**/
.iLoading_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	background: rgba(0,0,0,0.5);
	opacity: 0.1;
	display: none;
}
.iLoading_showbox {
	min-height:90px;
	width:100px;
	position: fixed;
	left:50%;
	top:45%;
	margin-top:-50px;
	margin-left:-55px;
	background:rgba(0,0,0,0.5);
	z-index:120000;
	text-align:center;
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	display: none;
	padding: 5px 5px;
}
.iLoading_showbox p { color:#ffffff; font-size:16px;}
.iLoading_showbox, .iLoading_overlay {
	top: expression(eval(document . documentElement . scrollTop) );
}
.iLoading_loading_pic {
	background: url(../images/ajaxLoading.gif);
	background-size: 46px 46px;
	width:46px;
	height:46px;
	margin:10px auto;
}
