@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: Arial,Tahoma,  Helvetica, Verdana, sans-serif;
	word-spacing:2px;
}

html {
	background-color: #808080;
}

body {

	margin: 0px auto;
	width: 624px;
	background-color: #ecf0f5;
 
}

ul, ol, li {
	list-style: none;
}
a {text-decoration: none;color:#00c;}
a:hover {text-decoration:none;}
:focus { outline: none; }
input.button {
	font-family: Arial;
	color: #ffffff;
	font-size: 8px;
	padding: 4px;
	text-decoration: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 1px 3px #666666;
	-moz-box-shadow: 0px 1px 3px #666666;
	box-shadow: 0px 1px 3px #666666;
	text-shadow: 1px 1px 3px #666666;
	border: solid #1cb3d9 2px;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4160fa), to(#05c1fa));
	background: -moz-linear-gradient(top, #4160fa, #05c1fa);
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#4160fa, endColorStr=#05c1fa);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#4160fa, endColorStr=#05c1fa);
	display:inline-block; /* IE is so silly */
}
input.button:hover {
	background: #20e6e6;
}
input.button:active {
	background: #aba6e6;
	color:#cfcfcf;
	text-shadow:0px 0px 0px #666666;
}

.clearfloat {
	clear: both;
	font-size: 0px;
	height: 0px;
	line-height: 0px;
	overflow: hidden;
}

#header {
	height: 73px;
	background: url(../img/header.jpg) no-repeat;
}

#status {
	float: right;
	/* margin-top:40px; */
}
#status div {
	float: left;
	padding: 5px 10px;
}
#status span {
	display: block;
	float: left;
	line-height: 20px;
	cursor: default;
}
#status span.icon {
	width: 30px;
	height: 20px;
}
#status span.text {
	padding-left: 5px;
	color: #fff;
}

/*added by lyre*/
#mesg_icon span.icon {
	width: 20px;
	height: 20px;
	background: url(../img/sprites.png) no-repeat 0px -162px;
}
#mesg_icon.mesg_prompt span.icon {
	background-position: -118px -162px;
	cursor: pointer;
}
/*-------------*/

#signal_grid span.icon {
	background: url(../img/sprites.png) no-repeat;
}
#signal_grid.rssi0 span.icon {
	background-position: 0 0;
}
#signal_grid.rssi1 span.icon {
	background-position: -30px 0;
}
#signal_grid.rssi2 span.icon {
	background-position: -60px 0;
}
#signal_grid.rssi3 span.icon {
	background-position: -90px 0;
}
#signal_grid.rssi4 span.icon {
	background-position: -120px 0;
}
#signal_grid.rssi5 span.icon {
	background-position: -150px 0;
}

#status_activate span.icon {
	width: 1px;
}
#status_activate.notactivated span.icon {
	background-position: -255px 0;
}
#status_activate.notactivated span.text {
	color: #cb0e0e;
}

#status_battery span.icon {
	background: url(../img/sprites.png) no-repeat -180px 0;
}
#status_battery span.icon span.percent {
	float: none;
	margin: 0 6px 0 5px;
	width: 19px;
}
#status_battery span.icon span.percent span {
	float: none;
	background: url(../img/sprites.png) no-repeat -210px 0;
	overflow: hidden;
}
/*=======================================================*/
#middle {
	margin-top: 0px;
	margin-bottom: 0px;
	_width: 624px;
	_height: 300px;
	min-height: 300px; 
	background: #DFEAF7;
}
/*---------------------------------------------*/

#menu {
	float: left;
	width: 150px;
	/*padding-bottom: 100px;
	min-height: 200px;
	_height: 200px;
	background: #ecf0f5 url(menu.jpg) no-repeat 100% 100%;*/
	/*lyre color*/
}
#menu ul {
}
#menu li ul {
	display: none;
	padding: 5px 0 5px 5px;
	/*border-bottom: 1px solid #808080;*/
}
#menu li.active ul {
}
#menu li {
	_height: 30px;
	border-bottom: 1px solid #606060;
/*	display: inline;  */
}
#menu li li {
	_height: 20px;
	border-bottom: none;
}
#menu li a {
	display: block;
	padding-left: 14px;
	height: 29px;
	font-weight: bold;
	color: #027297;
	line-height: 28px;
}
#menu li a:hover {
	background: #B4D1F3;
}
#menu li.active a {
	background: #B4D1F3;
}
#menu li li a {
  display: block;
	padding-left: 25px;
	height: 19px;
	color: #027297;
	font-weight: normal;
	line-height: 18px;
	border-bottom: none;
	margin:1px;
}
#menu li.active li a {
	color: #000;
}
#menu li.active li a:hover {
	color: #fff;
}
#menu li.active li.active a {
	color: #fff;
}

/*---------------------------------------------*/
#main {
	float: left;
	width: 468px;
/*	height: 400px;*/
	background: #ecf0f5;/*lyre color*/
}

/*used by index.html*/
#footerindex {
	height: 59px;
	/*width: 624px;*/
	width: 524px !important;/*IE7 and FF*/
	*width: 524px;/*IE6 and IE7*/
	background: #B4D1F3;/*lyre color*/
}

/*used by other html*/
#footer {
	height: 59px;
	/*width: 624px;*/
	width: 624px !important;/*IE7 and FF*/
	*width: 624px;/*IE6 and IE7*/
	background: #B4D1F3;/*lyre color*/
}


#footerindex p {
	padding-left: 20px;
	color: #fff;
	line-height: 59px;
}

#footer p {
	padding-left: 20px;
	color: #fff;
	line-height: 59px;
}

.charging {
    background : url(../img/battery.gif) no-repeat center center;
}

.nobattery {
    background : url(../img/nobattery.png) no-repeat center center;
}